<!doctype html>
<html ng-app="app">

<head>
  <title>Contact Manager</title>


  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />


</head>

<body>
 
  <div  ng-controller="ContactController">
    <form class="well">
      <label>Name</label>
      <input type="text" name="name" ng-model="newcontact.name" />
      <label>Email</label>
      <input type="text" name="email" ng-model="newcontact.email" />
      <label>Phone</label>
      <input type="text" name="phone" ng-model="newcontact.phone" />
      <br/>
      <input type="hidden" ng-model="newcontact.id" />
      <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
    </form>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody> 
        <tr ng-repeat="contact in contacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td> <a href="javascript:void(0)" ng-click="edit(contact.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(contact.id)">delete</a>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="controllers/contactController.js"></script>
</body>


</html>